$primary-color: #210340;
$secondary-color: #fa5f11;
$tertiary-color: #ff74ab;
$color-light: #fff;
$color-dark: #253039;
$color-black: #000;
$color-dark-blue: #00008b;
$color-accent: #7b1fa2;
$color-powder-blue: #9dd8e0;
$color-light-blue: #add8e6;
