@import url('https://fonts.googleapis.com/css?family=Bangers|Source+Code+Pro&display=swap');

$font-headings: 'Bangers', cursive;
$font-text: 'Source Code Pro', monospace;
$font-h1: 2vw;
$font-h2: 4vw;
$font-h3: 2rem;
$text: 1.2rem;
